/*
 *
 *  File:             __NAME__
 *  Author:           Daniel Martinez 
 *                    dagmtzs@gmail.com
 *  Creation:         __CREATED_ON__
 *  
 *  Description:      
 *
 *  Modified:         __MODIFIED_ON__
 *
 */

#include <stdio.h>
#include <stdlib.h>

int main(int argc, char *argv[]) {

    return EXIT_SUCCESS;
}

